<!-- <section>
  <ng-container *ngFor="let image of images; let i = index;">
    <img [src]="image" alt="Image {{i}}" [hidden]="currentIndex !== i">
  </ng-container>
</section> -->

<section>
  
  <video [autoplay]="true" [muted]="true" [loop]="true">
    <source [src]="vid1" type="video/mp4">
  </video>

  <video [autoplay]="true" [muted]="true" [loop]="true">
    <source [src]="vid2" type="video/mp4">
  </video>

</section>

  <!-- <iframe src="../../assets/InShot_20240311_210943600.mp4"
  frameborder="0" 
  scrolling="no"
  allow="autoplay; fullscreen" 
  allowfullscreen="yes" 
  mozallowfullscreen="yes" 
  webkitallowfullscreen="yes">
</iframe>

<iframe src="../../assets/VID20240313071016.mp4"
frameborder="0" 
scrolling="no"
allow="autoplay; fullscreen" 
allowfullscreen="yes" 
mozallowfullscreen="yes" 
webkitallowfullscreen="yes">
</iframe> -->