section {
    position: absolute;
    right: 1%;
    top: 2%;
    transform: translateY(-2%);
    width: 67%;
    height: 50vh;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);


    img {
        position: absolute;
        top: 0;
        left: 2%;
        width: 50%;
        height: 100%;
        object-fit: contain;
        border-radius: 20px; 
    }


    iframe{
        width: 35%;
        height: 100%;
        object-fit: contain;

        video{
            width: 100%;
            height: 100%;
        }
    }

}

    
video{
    width: 35%;
    height: 100%;
    object-fit: contain;
}