<section>
  <div class="digital-clock">
      <div class="hm">
          <div>{{hours}}</div>
          <!-- <div>00</div> -->
          <div>:</div>
          <div>{{minutes}}</div>
          <!-- <div>00</div> -->
      </div>
      <div class="sap">
          <div>{{seconds}}</div>
          <!-- <div>00</div> -->
          <div>{{ampm}}</div>
          <!-- <div>AM</div> -->
      </div>
  </div>
</section>

<div class="analog-clock">
  <div class="circle" id="sec" style="--clr: #e91e63" [style.transform]="'rotateZ(' + secondsHand + 'deg)'"><i></i>
  </div>
  <div class="circle" id="min" style="--clr: #29aa2f" [style.transform]="'rotateZ(' + minutesHand + 'deg)'"><i></i>
  </div>
  <div class="circle" id="hrs" style="--clr: #1976d2" [style.transform]="'rotateZ(' + hoursHand + 'deg)'"><i></i>
  </div>

  <div class="akroid">
      <img src="../../assets/akroid-b.png" alt="" srcset="">
  </div>

  <ng-container *ngFor="let number of numbers; let i = index">
    <span style="--i: {{i}};"><i>{{number}}</i></span>
  </ng-container>
</div>
